@charset "UTF-8";.szh-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    width: -moz-max-content;
    width: max-content;
    z-index: 100;
    border: 1px solid rgba(0,0,0,.1);
    background-color: #fff
}

.szh-menu:focus {
    outline: none
}

.szh-menu__arrow {
    box-sizing: border-box;
    width: .75rem;
    height: .75rem;
    background-color: #fff;
    border-color: rgba(0,0,0,.1) transparent transparent rgba(0,0,0,.1);
    border-style: solid;
    border-width: 1px;
    z-index: -1
}

.szh-menu__arrow--dir-left {
    right: -.375rem;
    transform: translateY(-50%) rotate(135deg)
}

.szh-menu__arrow--dir-right {
    left: -.375rem;
    transform: translateY(-50%) rotate(-45deg)
}

.szh-menu__arrow--dir-top {
    bottom: -.375rem;
    transform: translateX(-50%) rotate(-135deg)
}

.szh-menu__arrow--dir-bottom {
    top: -.375rem;
    transform: translateX(-50%) rotate(45deg)
}

.szh-menu__item {
    cursor: pointer
}

.szh-menu__item:focus {
    outline: none
}

.szh-menu__item--hover {
    background-color: #ebebeb
}

.szh-menu__item--focusable {
    cursor: default;
    background-color: inherit
}

.szh-menu__item--disabled {
    cursor: default;
    color: #aaa
}

.szh-menu__group {
    box-sizing: border-box
}

.szh-menu__radio-group {
    margin: 0;
    padding: 0;
    list-style: none
}

.szh-menu__divider {
    height: 1px;
    margin: .5rem 0;
    background-color: rgba(0,0,0,.12)
}

.szh-menu-button {
    box-sizing: border-box
}

.szh-menu {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    color: #212529;
    border: none;
    border-radius: .25rem;
    box-shadow: 0 3px 7px rgba(0,0,0,.133),0 .6px 2px rgba(0,0,0,.1);
    min-width: 10rem;
    padding: .5rem 0
}

.szh-menu__item {
    display: flex;
    align-items: center;
    position: relative;
    padding: .375rem 1.5rem
}

.szh-menu-container--itemTransition .szh-menu__item {
    transition-property: background-color,color;
    transition-duration: .15s;
    transition-timing-function: ease-in-out
}

.szh-menu__item--type-radio {
    padding-left: 2.2rem
}

.szh-menu__item--type-radio:before {
    content: "○";
    position: absolute;
    left: .8rem;
    top: .55rem;
    font-size: .8rem
}

.szh-menu__item--type-radio.szh-menu__item--checked:before {
    content: "●"
}

.szh-menu__item--type-checkbox {
    padding-left: 2.2rem
}

.szh-menu__item--type-checkbox:before {
    position: absolute;
    left: .8rem
}

.szh-menu__item--type-checkbox.szh-menu__item--checked:before {
    content: "✔"
}

.szh-menu__submenu>.szh-menu__item {
    padding-right: 2.5rem
}

.szh-menu__submenu>.szh-menu__item:after {
    content: "❯";
    position: absolute;
    right: 1rem
}

.szh-menu__header {
    color: #888;
    font-size: .8rem;
    padding: .2rem 1.5rem;
    text-transform: uppercase
}

.slick-slider {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list,.slick-slider {
    position: relative;
    display: block
}

.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: none
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-list,.slick-slider .slick-track {
    transform: translateZ(0)
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.slick-track:after,.slick-track:before {
    display: table;
    content: ""
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
}

[dir=rtl] .slick-slide {
    float: right
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}

.slick-loading .slick-list {
    background: #fff url(/_next/static/media/ajax-loader.0b80f665.gif) 50% no-repeat
}

@font-face {
    font-family: slick;
    font-weight: 400;
    font-style: normal;
    src: url(/_next/static/media/slick.25572f22.eot);
    src: url(/_next/static/media/slick.25572f22.eot?#iefix) format("embedded-opentype"),url(/_next/static/media/slick.653a4cbb.woff) format("woff"),url(/_next/static/media/slick.6aa1ee46.ttf) format("truetype"),url(/_next/static/media/slick.f895cfdf.svg#slick) format("svg")
}

.slick-next,.slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translateY(-50%);
    cursor: pointer;
    border: none
}

.slick-next,.slick-next:focus,.slick-next:hover,.slick-prev,.slick-prev:focus,.slick-prev:hover {
    color: transparent;
    outline: none;
    background: transparent
}

.slick-next:focus:before,.slick-next:hover:before,.slick-prev:focus:before,.slick-prev:hover:before {
    opacity: 1
}

.slick-next.slick-disabled:before,.slick-prev.slick-disabled:before {
    opacity: .25
}

.slick-next:before,.slick-prev:before {
    font-family: slick;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.slick-prev {
    left: -25px
}

[dir=rtl] .slick-prev {
    right: -25px;
    left: auto
}

.slick-prev:before {
    content: "←"
}

[dir=rtl] .slick-prev:before {
    content: "→"
}

.slick-next {
    right: -25px
}

[dir=rtl] .slick-next {
    right: auto;
    left: -25px
}

.slick-next:before {
    content: "→"
}

[dir=rtl] .slick-next:before {
    content: "←"
}

.slick-dotted.slick-slider {
    margin-bottom: 30px
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center
}

.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0
}

.slick-dots li,.slick-dots li button {
    width: 20px;
    height: 20px;
    cursor: pointer
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    padding: 5px;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent
}

.slick-dots li button:focus,.slick-dots li button:hover {
    outline: none
}

.slick-dots li button:focus:before,.slick-dots li button:hover:before {
    opacity: 1
}

.slick-dots li button:before {
    font-family: slick;
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    opacity: .25;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #000
}
